<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base :: layout(~{::title}, ~{::content})}">

<head>
  <title>Cart</title>
</head>

<body>
  <div th:fragment="content">
    <div id="loader-2">
      <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <!-- Cart Start -->
    <div class="cart-page">
      <div class="container-fluid">
        <div id="cart" class="row" style="display: none;">
          <div class="col-lg-8">
            <div class="cart-page-inner">
              <div class="checkout-inner">
                <div class="cart-product">
                  <h4>Shopping Cart <span>(Total Items: </span><span id="totalItems"></span>)</h4>
                  <div id="cart-items">
                    <!-- cart items load dynamically -->
                    <div class="content">
                      <div class="product-img">
                        <img width="100%" height="100%" src="\img\category-2.jpg">
                      </div>
                      <div class="product-detail">
                        <div class="product-name">
                          <h6>BUMMY PANTS Super Dry Leakage Proof Technolo Leakage Proof Technolo</h6>
                        </div>
                        <div class="product-price">
                          <p>Price Per Item: &#8377;<span>635</span></p>
                          <p>Quantity: <span>3</span></p>
                          <p>Total Price: &#8377;<span>635</span></p>
                        </div>
                        <hr>
                        <div class="action">
                          <div class="product-name">
                            <h6>Free Delivery</h6>
                          </div>
                          <div>
                            <button>Edit</button>
                            <button>&times; Remove</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- modal dialog for edit product  -->
          <div class="modal fade" id="editItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Item</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div id="model-loader">
                    <div class="d-flex justify-content-center">
                      <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                  </div>
                  <div class="checkout-inner">
                    <div class="cart-product">
                      <div>
                        <div class="content" style="border: none; padding: 0px; margin-bottom: 0px; display: none;">
                          <div class="product-img">
                            <img id="itemImage" width="100%" height="100%" src="">
                          </div>
                          <div class="product-detail">
                            <div class="product-name">
                              <h6><span id="itemName"></span></h6>
                            </div>
                            <div class="product-price">
                              <h6>Price: &#8377;<span id="itemPrice"></span></h6>
                            </div>
                            <div class="product-qty">
                              <h6>Quantity: </h6>
                              <div class="qty">
                                <button class="btn-minus" style="width: 60px;
                                border-radius: 0px;
                                border: none; margin: unset;"><i class="fa fa-minus"></i></button>
                                <input id="qty" type="text" min="1" max="10" value="1" readonly style="border: none;">
                                <button class="btn-plus" style="width: 60px;
                                border-radius: 0px;
                                border: none; margin: unset;"><i class="fa fa-plus"></i></button>
                              </div>
                            </div>
                            <p id="qtyError" class="text-danger mt-1"></p>
                            <hr>
                            <div class="action-model">
                              <div class="product-name">
                                <h6>Total Price</h6>
                              </div>
                              <div>
                                <h6>&#8377<span id="itemTotalPrice"></span></h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer" style="display: none;">
                  <button type="button" class="model-btn" data-dismiss="modal">Close</button>
                  <button id="update-cart-btn" type="button" class="model-btn">
                    <span id="btn-loader" style="display: none;"><i class="fa fa-spinner fa-pulse"></i></span>
                    Save changes</button>
                </div>
              </div>
            </div>
          </div>


          <!-- modal dialog for remove product  -->
          <div class="modal fade" id="removeItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Remove product from cart</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h6 class="text-center">Are you sure you want to remove this item</h6>
                  <div class="checkout-inner">

                    <div class="cart-product">
                      <div>
                        <div class="content" style="border: none; padding: 0px; margin-bottom: 0px;">
                          <input type="text" id="itemId" hidden>
                          <div class="product-img">
                            <img id="removeItemImage" width="100%" height="100%" src="\img\category-2.jpg">
                          </div>
                          <div class="product-detail">
                            <div class="product-name">
                              <h6><span id="removeItemName"></span> PANTS Super Dry Leakage Proof Technolo Leakage Proof
                                Technolo</h6>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="model-btn" data-bs-dismiss="modal">Cancel</button>
                  <button id="remove-btn" type="button" class="model-btn">
                    <span id="btn-loader-remove" style="display: none;"><i
                        class="fa fa-spinner fa-pulse"></i></span>Remove</button>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4">
            <div class="cart-page-inner">
              <div class="row">
                <div class="col-md-12">
                  <div class="coupon">
                    <form method="post">

                      <!-- <input id="coupon-code" type="text" placeholder="Enter coupon code.."> -->
                      <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Select an coupon
                        </button>
                        <ul class="dropdown-menu">
                          <div id="ifCouponEmpty" style="text-align: center; display: none;">
                            <img src="/img/emptyCoupons.webp" width="100px">
                            <h2 style="font-size: 20px;">Don't have any coupon.</h2>
                          </div>
                          <div id="ifCouponAvailable">
                            <!-- coupon dynamically load -->
                          </div>
                        </ul>
                      </div>

                    </form>
                  </div>
                </div>
                <div class="col-md-12">

                  <div class="checkout-inner">
                    <div class="cart-summary">
                      <div class="cart-content">
                        <h1>Cart Total</h1>
                        <p>Total Product Price<span>+ ₹<span id="amount"></span></p>
                        <p class="sub-total">Discount<span>- ₹<span id="discount"></span></p>
                        <p class="ship-cost">Delivery Charge<span>- ₹<span id="shippingCost">0</span></p>
                        <h2>Grand Total<span>&#8377;<span id="grandTotal"></span></h2>
                      </div>

                      <div id="dicountDivision"
                        style="padding: 12px 5px; margin-top: 15px; background-color: #f3f6ff; display: none;">
                        <p style="text-align: center; color: green; margin-bottom: 0px;">
                          Yay! Your total discount is <span id="totalDiscount">₹378</span></p>
                      </div>

                      <div class="cart-btn">
                        <!-- <button>Update Cart</button> -->
                        <a href="/checkout"><button>Continue</button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- if cart is empty -->
        <div id="emptyCart" class="card-body cart mb-5" style="display: none;">
          <div class="col-sm-9 empty-cart-cls text-center m-auto" style="border-radius: 5px;
          border: 1px solid #dddddd;
          background-color: #ffffff;
          padding: 60px 0px;">
            <img src="/img/cart-empty.png" width="150" height="150" class="img-fluid mb-4 mr-3">
            <h3><strong>Your Cart is Empty</strong></h3>
            <h4>Add something to make me happy :)</h4>
            <a href="/product" class="btn btn-primary cart-btn-transform m-3" style="padding: 8px 10px;"
              data-abc="true">Continue
              Shopping</a>
          </div>
        </div>
      </div>
      <!-- Cart End -->
      <script src="/js/cart.js"></script>
      <script>
        function cartValue() {
          $.ajax({
            type: 'GET',
            url: '/cart/get',
            contentType: 'application/json',
            success: function (response) {
              var cartItems = response.data;
              var totalCartItems = response.totalCartItems;
              $('#cartValue').text(totalCartItems);
            }
          });
        }

        $('#loader').hide();

        // load cart summary
        function loadOrder() {
          $.ajax({
            type: 'GET',
            url: '/order/getOrderByUser',
            contentType: 'application/json',
            success: function (response) {
              var order = response.data;
              $('#amount').text(order.amount);
              $('#discount').text(order.discount);
              $('#grandTotal').text(order.totalAmount);
            }
          });
        }
        $(document).ready(function () {

          loadOrder();


          // cart items load
          function showCartItems() {
            $.ajax({
              type: 'GET',
              url: '/cart/get',
              contentType: 'application/json',
              success: function (response) {
                var cartItems = response.data;
                var totalCartItems = response.totalCartItems;
                $('#totalItems').text(totalCartItems);
                $('#total-cart-items').text(totalCartItems);

                if (Object.keys(cartItems).length === 0) {
                  $('#emptyCart').show();
                  $('#cart').hide();
                } else {
                  $('#cart').show();
                  $('#emptyCart').hide();
                }

                const cartItemHTML = $('#cart-items');
                cartItemHTML.empty();

                $.each(cartItems, function (index, cartItem) {
                  var row =
                    '<div class="content">' +
                    '<div class="product-img">' +
                    '<a href="#" id="product-detail" data-id="' + cartItem.productId + '">' +
                    '<img width="100%" height="100%" src=" ' + cartItem.productImage + ' ">' +
                    '</a>' +
                    '</div>' +
                    '<div class="product-detail">' +
                    '<div class="product-name">' +
                    '<h6>' + cartItem.productName + '</h6>' +
                    '</div>' +
                    '<div class="product-price">' +
                    '<p>Price Per Item: &#8377;<span>' + cartItem.price + '</span></p>' +
                    '<p>Quantity: <span>' + cartItem.quantity + '</span></p>' +
                    '<p>Total Price: &#8377;<span>' + cartItem.totalPrice + '</span></p>' +
                    '</div>' +
                    '<hr>' +
                    '<div class="action">' +
                    '<div class="product-name">' +
                    '<h6>Free Delivery</h6>' +
                    '</div>' +
                    '<div>' +
                    '<button id="edit-btn" data-id="' + cartItem.id + '" style="margin-right: 15px;" data-bs-toggle="modal" data-bs-target="#editItem">Edit</button>' +
                    '<button id="remove-item" data-id="' + cartItem.id + '" data-bs-toggle="modal" data-bs-target="#removeItem">&times; Remove</button>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>'

                  cartItemHTML.append(row);
                });
              },
              error: function (xhr, status, error) {
                var errors = xhr.responseJSON;
                $('.toast').removeClass('bg-success');
                $('.toast').addClass('bg-danger');
                $('.toast').toast('show');
                $('#msg').text(errors.message);
              },
              complete: function () {
                $('#loader-2').hide();
              }
            });
          }
          showCartItems();

          // add to cart hadler
          $(document).on('click', '#add-to-cart', function (event) {
            event.preventDefault();
            var productId = $(this).data('id');
            if (userId == undefined) {
              window.location.href = '/login';
            }
            var data = {
              userId: userId,
              productId: productId
            }
            $.ajax({
              type: 'POST',
              url: '/cart/add',
              contentType: 'application/json',
              data: JSON.stringify(data),
              success: function (response) {
                showCartItems();
                $('.toast').removeClass('bg-danger');
                $('.toast').addClass('bg-success');
                $('.toast').toast('show');
                $('#msg').text(response.message);
              },
              error: function (xhr, status, error) {
                var errors = xhr.responseJSON;
                $('.toast').removeClass('bg-success');
                $('.toast').addClass('bg-danger');
                $('.toast').toast('show');
                $('#msg').text(errors.message);
              },
              complete: function () {
                cartValue();
              }
            });
          });



          // remove cart item
          $(document).on('click', '#remove-item', function (event) {
            event.preventDefault();
            var cartId = $(this).data('id');
            $.ajax({
              type: 'GET',
              url: '/cart/product/get',
              data: {
                cartId: cartId,
              },
              contentType: 'application/json',
              success: function (response) {
                var item = response.data;
                $('#removeItemImage').prop('src', item.productImage);
                $('#removeItemName').text(item.productName);
                $('#removeItemPrice').text(item.price);
                $('#removeItemQuantity').text(item.quantity);
                $('#itemId').val(item.id);
              }
            });
            $('#remove-btn').click(function () {
              $('#btn-loader-remove').show();
              $.ajax({
                type: 'DELETE',
                url: '/cart/product/remove',
                data: {
                  cartId: cartId
                },
                success: function (response) {
                  $('.toast').removeClass('bg-danger');
                  $('.toast').addClass('bg-success');
                  $('.toast').toast('show');
                  $('#msg').text(response.message);
                },
                error: function (xhr) {
                  var errors = xhr.responseJSON;
                  $('.toast').removeClass('bg-success');
                  $('.toast').addClass('bg-danger');
                  $('.toast').toast('show');
                  $('#msg').text(errors.message);
                },
                complete: function () {
                  loadOrder();
                  cartValue();
                  showCartItems()
                  $('#btn-loader-remove').hide();
                  $('#removeItem').modal('hide');
                }
              })
            });
          });



          // show product edit model 
          $(document).on('click', '#edit-btn', function (event) {
            event.preventDefault();
            var cartId = $(this).data('id');
            $.ajax({
              type: 'GET',
              url: '/cart/product/get',
              data: {
                cartId: cartId,
              },
              contentType: 'application/json',
              success: function (response) {
                var item = response.data;

                $('#itemImage').prop('src', item.productImage);
                $('#itemName').text(item.productName);
                $('#itemPrice').text(item.price);
                $('#qty').val(item.quantity);
                $('#itemTotalPrice').text(item.totalPrice);

                var totalPrice = item.price;
                $('#qty').keyup(function () {
                  var newQuantity = $(this).val();
                  var netPrice = totalPrice * newQuantity;
                  $('#itemTotalPrice').text(netPrice);
                });

                var quantity = item.quantity;
                var inputQuantity = $('#qty').val();
                $('.btn-minus').click(function () {
                  $('.btn-plus').prop("disabled", false);
                  $('#qtyError').text('');
                  if (inputQuantity <= 1) {
                    $('.btn-minus').prop("disabled", true);
                    $('#qtyError').text('Not allowed negative quantity');
                  } else {
                    inputQuantity--;
                    var netPrice = totalPrice * inputQuantity;
                    $('#itemTotalPrice').text(netPrice);
                  }
                });


                $('.btn-plus').click(function () {
                  $('.btn-minus').prop("disabled", false);
                  $('#qtyError').text('');
                  if (inputQuantity >= 10) {
                    $('.btn-plus').prop("disabled", true);
                    $('#qtyError').text('You can add upto 10 units in one order');
                  } else {
                    inputQuantity++;
                    var netPrice = totalPrice * inputQuantity;
                    $('#itemTotalPrice').text(netPrice);
                  }
                });
              },
              complete: function () {
                $('.content').show();
                $('#model-loader').hide();
                $('.modal-footer').show();
              }
            });

            $('#update-cart-btn').click(function () {
              var quantity = $('#qty').val();
              $('#btn-loader').show();
              $.ajax({
                type: 'PUT',
                url: '/cart/product/update',
                data: {
                  cartId: cartId,
                  quantity: quantity
                },
                success: function (response) {
                  $('.toast').removeClass('bg-danger');
                  $('.toast').addClass('bg-success');
                  $('.toast').toast('show');
                  $('#msg').text(response.message);
                },
                error: function (xhr) {
                  var errors = xhr.responseJSON;
                  $('.toast').removeClass('bg-success');
                  $('.toast').addClass('bg-danger');
                  $('.toast').toast('show');
                  $('#msg').text(errors.message);
                }, complete: function () {
                  $('#editItem').modal('hide');
                  showCartItems()
                  cartValue();
                  loadOrder();
                  $('#btn-loader').hide();
                }
              })
            })

          });

          function fetchCoupon() {
            $.ajax({
              type: 'GET',
              url: '/coupon/available',
              contentType: 'application/json',
              success: function (response) {
                var couponData = response.data;
                if (couponData.length === 0) {
                  $('#ifCouponEmpty').show();
                } else {
                  $('#ifCouponAvailable').empty();
                  $.each(couponData, function (index, coupon) {
                    var row = '<li class="dropdown-item">' +
                      '<span>' + coupon.name + ' (Save ' + coupon.discount + '%)</span>' +
                      '<a id="applyCoupon" data-code="' + coupon.code + '" href="#">Apply</a>' +
                      '</li>'
                    $('#ifCouponAvailable').append(row);
                  });
                }
              }
            });
          }
          fetchCoupon();

          $(document).on('click', '#applyCoupon', function () {
            var couponCode = $(this).data('code');
            $.ajax({
              type: 'POST',
              url: '/coupon/apply/' + couponCode,
              contentType: 'application/json',
              success: function (response) {
                $('.toast').removeClass('bg-danger');
                $('.toast').addClass('bg-success');
                $('.toast').toast('show');
                $('#msg').text(response.message);
              },
              error: function (xhr) {
                var errors = xhr.responseJSON;
                $('.toast').removeClass('bg-success');
                $('.toast').addClass('bg-danger');
                $('.toast').toast('show');
                $('#msg').text(errors.message);
              }
            });
          });

        });
      </script>
    </div>
</body>

</html>