<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base :: layout(~{::title}, ~{::content})}">

<head>
  <title>Forgot Password</title>
</head>

<body>
  <div th:fragment="content">


    <!-- Forgot Start -->
    <div class="login">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 m-auto">
            <div class="login-form">
              <div class="form-group">

                <!-- form form send OTP -->
                <form method="post">
                  <div class="col-md-12 mb-4">
                    <div class="m-auto mb-3" style="width: 200px;">
                      <img width="100%" height="100%" src="/img/forgot-pass-1.png" alt="">
                    </div>
                    <h4 class="text-center mt-3">
                      <b>Forgot Password</b>
                    </h4>
                    <p class="text-center">Enter your email and we'll send you a OTP to reset your
                      password.</p>
                  </div>
                  <div class="col-md-12">
                    <input class="form-control" id="email" type="email" placeholder="Enter your email.." name="email">
                    <p id="email-error" class="text-danger" style="font-size: smaller;"></p>
                    <div id="change-email" class="mt-1 text-center">
                      <p>Change email</p>
                    </div>
                  </div>
                  <div class="col-md-12 text-center mt-3">
                    <button id="send-otp-btn" type="submit" class="forgot-btn">
                      <div style="display: none;" class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                      </div> Send OTP
                    </button>
                  </div>
                </form>

                <!-- form for OTP verify -->
                <form method="post">
                  <div id="otp-field">
                    <hr>
                    <div class="col-md-12 mt-3 text-center">
                      OTP Verification
                      <p class="resend text-muted mb-2">
                        Your 6 digit code was sent to <br><b><span id="email-name"></span></b>
                      </p>
                      <input type="email" id="email-name" hidden />
                      <div class="otp-field mb-2">
                        <input class="otp-input" type="number" />
                        <input class="otp-input" type="number" disabled />
                        <input class="otp-input" type="number" disabled />
                        <input class="otp-input" type="number" disabled />
                        <input class="otp-input" type="number" disabled />
                        <input class="otp-input" type="number" disabled />
                      </div>
                      <p id="otp-error" class="text-danger" style="font-size: smaller;"></p>
                    </div>
                    <div class="col-md-12 text-center mt-3">
                      <button id="verify-otp-btn" type="submit" class="btn">
                        <div style="display: none;" class="spinner-border spinner-border-sm" role="status">
                          <span class="sr-only">Loading...</span>
                        </div> Verify
                      </button>
                      <div id="countdown">
                        <div id="countdown-number"></div>
                        <svg>
                          <circle id="circle" r="18" cx="20" cy="20"></circle>
                        </svg>
                      </div>
                      <p class="resend text-muted mb-0">
                        Didn't receive code?
                        <button id="resend-otp-btn" type="submit"><a>
                            <div style="display: none;" class="spinner-border spinner-border-sm" role="status">
                              <span class="sr-only">Loading...</span>
                            </div> Request again
                          </a></button>
                      </p>
                      <div id="verify-icon">
                        <h5><span class="text-success"><i class='fas fa-check-circle' style='font-size:22px'></i></span>
                          <b>OTP Verified</b>
                        </h5>
                      </div>
                    </div>
                  </div>
                </form>

                <!-- form for password change -->
                <form method="post">
                  <div id="password-field">
                    <hr>
                    <div class="col-md-12 mt-3">
                      <div class="mb-3 text-center">Change Password</div>
                      <input type="email" id="email-name-field" hidden />
                      <div class="input-group" id="show_hide_password">
                        <input style="border-radius: 6px;" class="form-control" id="newPassword" type="password"
                          placeholder="Enter new password.." name="newPassword">
                        <div class="input-group-addon">
                          <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                      </div>
                      <p id="new-password-error" class="text-danger" style="font-size: smaller;">
                      </p>
                    </div>

                    <div class="col-md-12 mt-3">
                      <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm password.."
                        name="confirmPassword">
                      <p id="confirm-password-error" class="text-danger" style="font-size: smaller;">
                      </p>
                    </div>

                    <div class="col-md-12 text-center mt-3">
                      <button id="reset-pass-btn" type="submit" class="btn">
                        <div style="display: none;" class="spinner-border spinner-border-sm" role="status">
                          <span class="sr-only">Loading...</span>
                        </div> Submit
                      </button>
                    </div>
                  </div>
                </form>


                <div class="col-md-12 small mt-2 text-center">
                  <a href="#" th:href="@{/login}"><i class='fas fa-angle-double-left'></i> Back to login</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Forgot End -->
    <script>
      $(document).ready(function () {
        $('#email').focus(function () {
          $('#email-error').text('');
        })

        $('.otp-input').focus(function () {
          $('#otp-error').text('');
        })

        // initial hide 
        $('#password-field').hide();
        $('#otp-field').hide();
        $('#verify-icon').hide();
        $('#change-email').hide();
        $('#resend-otp-btn').hide();

        // if click the change email 
        $(document).on('click', '#change-email', function () {
          $('#email').prop('disabled', false);
          $('#email').val('');
          $('#otp-field').hide();
          $('#change-email').hide();
          $('#send-otp-btn').show();
        })

        // send otp
        $('#send-otp-btn').click(function (event) {
          event.preventDefault();
          var email = $('#email').val().trim();
          if (email === '') {
            $('#email-error').text('*Please enter your email.');
          } else {
            $('.spinner-border').show();
            $.ajax({
              type: 'POST',
              url: '/forgotPassword',
              data: {
                email: email
              },
              success: function (response) {
                $('.toast').removeClass('bg-danger');
                $('.toast').addClass('bg-success');
                $('.toast').toast('show');
                $('#msg').text(response.message);
                $('#otp-field').show();
                $('#countdown').show();
                $('#send-otp-btn').hide();
                $('#email').prop('disabled', true);
                $('#change-email').show();
                $('#email-name').text(email);
                $('#email-name-field').val(email);
                countdownTimer();
              },
              error: function (xhr, status, error) {
                var errors = xhr.responseJSON;
                $('.toast').removeClass('bg-success');
                $('.toast').addClass('bg-danger');
                $('.toast').toast('show');
                $('#msg').text(errors.message);
              },
              complete: function () {
                $('.spinner-border').hide();
              }
            });
          }
        });

        // Resend otp
        $('#resend-otp-btn').click(function (event) {
          event.preventDefault();
          var email = $('#email').val().trim();
          if (email === '') {
            $('#email-error').text('*Please enter your email.');
          } else {
            $('#resend-otp-btn').hide();
            $.ajax({
              type: 'POST',
              url: '/forgotPassword',
              data: {
                email: email
              },
              success: function (response) {
                $('.toast').removeClass('bg-danger');
                $('.toast').addClass('bg-success');
                $('.toast').toast('show');
                $('#msg').text(response.message);
                $('#otp-field').show();
                $('#countdown').show();
                $('#send-otp-btn').hide();
                $('#email').prop('disabled', true);
                $('#change-email').show();
                $('#email-name').text(email);
                $('#email-name-field').val(email);
                countdownTimer();
              },
              error: function (xhr, status, error) {
                var errors = xhr.responseJSON;
                $('.toast').removeClass('bg-success');
                $('.toast').addClass('bg-danger');
                $('.toast').toast('show');
                $('#msg').text(errors.message);
              },
              complete: function () {
                $('.spinner-border').hide();
              }
            });

          }
        });

      });

      // verify otp
      $('#verify-otp-btn').click(function (event) {
        event.preventDefault();
        var email = $('#email-name-field').val().trim();
        var otp = "";
        $('.otp-input').each(function () {
          otp += $(this).val().trim();
        });
        if (otp === '') {
          $('#otp-error').text('Please enter OTP.');
        } else {
          $('.spinner-border').show();
          $.ajax({
            type: 'POST',
            url: '/verify-otp',
            data: {
              email: email,
              otp: otp
            },
            success: function (response) {
              $('.toast').removeClass('bg-danger');
              $('.toast').addClass('bg-success');
              $('.toast').toast('show');
              $('#msg').text(response.message);
              $('.otp-input').prop('disabled', true);
              $('#email-name-field').val(email);
              $('#verify-icon').show();
              $('#verify-otp-btn').hide();
              $('#password-field').show();
              $('.resend').hide();
              $('#change-email').hide();
              $('#countdown').hide();

            },
            error: function (xhr, status, error) {
              var errors = xhr.responseJSON;
              $('.toast').removeClass('bg-success');
              $('.toast').addClass('bg-danger');
              $('.toast').toast('show');
              $('#msg').text(errors.message);
            },
            complete: function () {
              $('.spinner-border').hide();
            }
          });
        }
      });


      $('#newPassword').focus(function () {
        $('#new-password-error').text('');
      })
      $('#confirmPassword').focus(function () {
        $('#confirm-password-error').text('');
      })

      // change password
      $('#reset-pass-btn').click(function (event) {
        event.preventDefault();
        var email = $('#email-name-field').val().trim();
        var newPassword = $('#newPassword').val().trim();
        var confirmPassword = $('#confirmPassword').val().trim();
        if (newPassword === '') {
          $('#new-password-error').text('*Please enter your new password.');
        } else if (confirmPassword === '') {
          $('#confirm-password-error').text('*Please enter confirm password.');
        } else if (!(newPassword === confirmPassword)) {
          $('#confirm-password-error').text('*Password does not match.');
        } else {
          $('.spinner-border').show();
          $.ajax({
            type: 'POST',
            url: '/reset-pass',
            data: {
              email: email,
              password: newPassword
            },
            success: function (response) {
              $('.toast').removeClass('bg-danger');
              $('.toast').addClass('bg-success');
              $('.toast').toast('show');
              $('#msg').html(response.message + "&nbsp&nbsp<b><a style='color: #353535;text-decoration: underline;' href='/login'>Back to login.</a></b>");
              $('#password-field').hide();
              $('#otp-field').hide();
              $('#verify-icon').hide();
              $('#change-email').hide();
              $('#resend-otp-btn').hide();
            },
            error(xhr, status, error) {
              var errors = xhr.responseJSON;
              $('.toast').removeClass('bg-success');
              $('.toast').addClass('bg-danger');
              $('.toast').toast('show');
              $('#msg').text(errors.message);
            },
            complete: function () {
              $('.spinner-border').hide();
            }
          });
        }
      });

      $("#show_hide_password a").on('click', function (event) {
        event.preventDefault();
        if ($('#show_hide_password input').attr("type") == "text") {
          $('#show_hide_password input').attr('type', 'password');
          $('#show_hide_password i').addClass("fa-eye-slash");
          $('#show_hide_password i').removeClass("fa-eye");
        } else if ($('#show_hide_password input').attr("type") == "password") {
          $('#show_hide_password input').attr('type', 'text');
          $('#show_hide_password i').removeClass("fa-eye-slash");
          $('#show_hide_password i').addClass("fa-eye");
        }
      });


      const inputs = document.querySelectorAll(".otp-field > input");
      const button = document.querySelector(".btn");

      window.addEventListener("load", () => inputs[0].focus());
      button.setAttribute("disabled", "disabled");

      inputs[0].addEventListener("paste", function (event) {
        event.preventDefault();

        const pastedValue = (event.clipboardData || window.clipboardData).getData(
          "text"
        );
        const otpLength = inputs.length;

        for (let i = 0; i < otpLength; i++) {
          if (i < pastedValue.length) {
            inputs[i].value = pastedValue[i];
            inputs[i].removeAttribute("disabled");
            inputs[i].focus;
          } else {
            inputs[i].value = ""; // Clear any remaining inputs
            inputs[i].focus;
          }
        }
      });

      inputs.forEach((input, index1) => {
        input.addEventListener("keyup", (e) => {
          const currentInput = input;
          const nextInput = input.nextElementSibling;
          const prevInput = input.previousElementSibling;

          if (currentInput.value.length > 1) {
            currentInput.value = "";
            return;
          }

          if (
            nextInput &&
            nextInput.hasAttribute("disabled") &&
            currentInput.value !== ""
          ) {
            nextInput.removeAttribute("disabled");
            nextInput.focus();
          }

          if (e.key === "Backspace") {
            inputs.forEach((input, index2) => {
              if (index1 <= index2 && prevInput) {
                input.setAttribute("disabled", true);
                input.value = "";
                prevInput.focus();
              }
            });
          }

          button.classList.remove("active");
          button.setAttribute("disabled", "disabled");

          const inputsNo = inputs.length;
          if (!inputs[inputsNo - 1].disabled && inputs[inputsNo - 1].value !== "") {
            button.classList.add("active");
            button.removeAttribute("disabled");

            return;
          }
        });
      });


      function countdownTimer() {
        var countdownNumberEl = document.getElementById('countdown-number');
        var countdown = 59;

        countdownNumberEl.textContent = countdown;
        setInterval(function () {
          if (countdown >= 0) {
            countdown--;
            countdownNumberEl.textContent = countdown;
            setTimeout(countdown, 1000);
          }
        }, 1000);

        setTimeout(function () {
          $('#countdown').hide();
          $('#resend-otp-btn').show();
        }, 59000);
      }
    </script>
  </div>
</body>

</html>